* {
    padding: 0;
    margin: 0;
}

section {
    border-radius: 3rem;
    padding: 5rem;
    width: 40%;
    margin: 0 auto;
}

.tables {
    background-color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.out {
    width: 70%;
    margin-right: 6rem;
}

#output {
    padding: 3rem;
    border-radius: 1rem;
    border: none;
    text-align: end;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(204, 204, 240);
}

button {
    margin: 0.5rem;
    font-size: 3rem;
    background-color: whitesmoke;
    padding: 2rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#equals {
    background-color: rgb(231, 130, 15);
}